@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(65, 65, 251);
    background: linear-gradient(90deg, rgba(65, 65, 251, 1) 0%, rgba(63, 223, 255, 1) 100%);
}

::selection {
    color: #fff;
    background: #4D59FB;
}

.wrapper {
    width: 420px;
    border-radius: 7px;
    background: #fff;
    padding: 25px 28px 45px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper .search {
    position: relative;
    margin: 35px 0 18px;
}

.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 42px;
    border: 1px solid #999;
}

.search input:focus {
    padding: 0 41px;
    border: 2px solid #4D59FB;
}

.search input::placeholder {
    color: #b8b8b8;
}

.search :where(i, span) {
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}

.search i {
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}

.search input:focus~i {
    color: #4D59FB;
}

.search span {
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

.search input:valid~span {
    display: block;
}

.wrapper .info-text {
    font-size: 13px;
    color: #9a9a9a;
    margin: -3px 0 -10px;
}

.wrapper.active .info-text {
    display: none;
}

.info-text span {
    font-weight: 500;
}

.wrapper ul {
    height: 0;
    opacity: 0;
    padding-right: 1px;
    overflow-y: hidden;
    transition: all 0.2s ease;
}

.wrapper.active ul {
    opacity: 1;
    height: 303px;
}

.wrapper ul li {
    display: flex;
    list-style: none;
    margin-bottom: 14px;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-between;
}

